[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"

[dev-packages]
isort = "*"
flake8 = "*"
radon = "*"
bandit = "*"
assertpy = "*"
pytest = "*"
pytest-cov = "*"
responses = "*"
mypy = "*"
types-requests = "*"
types-jsonschema = "*"
pre-commit = "*"
safety = "*"
black = "*"

[requires]
python_version = "3.10"
